<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm  navbar-dark" style="background-color: #0033a0">
 
  <ul class="navbar-nav ">
    <li class="nav-item active">
      <a class="nav-link boton" routerLink="/"><h2>SuSalud</h2></a>
    </li> 
 </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" style="color: white" routerLink="login">Iniciar Sesion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  style="color: white" routerLink="registro">Registro</a>
    </li>
     <li class="nav-item">
      <a class="nav-link"  style="color: white" routerLink="medicamentos">Medicamentos</a>
    </li>
  </ul>
  </nav>
  
<router-outlet></router-outlet>
